name: Continuous Integration

on:
  - push
  - pull_request

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python: ["3.9", "3.10", "3.11", "3.12"]
    steps:
      - uses: actions/checkout@v6
      - name: Set up uv
        id: setup-uv
        uses: astral-sh/setup-uv@v7
      - name: Build PAROS
        run: uvx hatch --python ${{ matrix.python }} build

  format:
    name: Format and lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up uv
        id: setup-uv
        uses: astral-sh/setup-uv@v7
      - name: Format and lint
        run: uvx hatch fmt --check

  jupyter:
    name: Test Jupyter notebooks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up uv
        id: setup-uv
        uses: astral-sh/setup-uv@v7
      - name: Format and lint
        run: uvx hatch --python ${{ matrix.python }} run jupyter:run-all
