name: Publish to PyPI

on:
  release:
    types: [released, prereleased]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v6
      - name: Set up uv
        id: setup-uv
        uses: astral-sh/setup-uv@v7
      - name: Build package
        run: uv build
      - name: Upload dist
        uses: actions/upload-artifact@v6
        with:
          name: paros_dist
          path: "dist/"

  publish_to_pypi:
    name: Publish to PyPI
    runs-on: ubuntu-latest
    environment: PyPI
    needs: build

    permissions:
      id-token: write

    steps:
      - name: Download dist
        uses: actions/download-artifact@v7
        with:
          name: paros_dist
          path: dist
      - name: Set up uv
        id: setup-uv
        uses: astral-sh/setup-uv@v7
      - name: Publish package
        run: uv publish

  upload_to_github:
    name: Upload to GitHub
    runs-on: ubuntu-latest
    if: github.event_name == 'release'
    needs: build

    permissions:
      contents: write

    steps:
      - name: Download dist
        uses: actions/download-artifact@v7
        with:
          name: paros_dist
          path: dist
      - name: Upload wheels to GitHub release
        uses: svenstaro/upload-release-action@2.11.3
        with:
          tag: ${{ github.ref }}
          file: "dist/*.whl"
          file_glob: true
      - name: Upload dist to GitHub release
        uses: svenstaro/upload-release-action@2.11.3
        with:
          tag: ${{ github.ref }}
          file: "dist/*.tar.gz"
          file_glob: true
